<% provide(:title, "Plants") %>

<h1>Plants</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Type</th>
      <th scope="col">Min. moisture</th>
      <th scope="col">Max. moisture</th>
      <th scope="col">Current moisture</th>
      <th scope="col">Active?</th>
      <th scope="col">Open?</th>
      <th scope="col">Last seen</th>
    </tr>
  </thead>
  <tbody>
    <% @nodes.each do |node| %>
      <tr>
        <th scope="row"><%= link_to node.chip_id, node_path(node) %></th>
        <td><%= node.node_type %></td>
        <td><%= node.min_moisture %></td>
        <td><%= node.max_moisture %></td>
        <td><%= node.current_moisture %></td>
        <td><i class="bi bi-circle-fill" style="color: <%= node.active? ? 'green' : 'red' %>"></i></td>
        <td><i class="bi bi-circle-fill" style="color: <%= node.open? ? 'green' : 'red' %>"></i></td>
        <td><%= node.last_seen %></td>
      </tr>
    <% end %>
  </tbody>
</table>